.service-heading
{
    margin-bottom: 0;
}

.services p
{
    text-align: center;
    color: #111;
    font-size: 1.1rem;
    font-family: var(--secondary-font);
    /* margin-top: -20px; */
}

.service-contents
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service-content
{
    max-width: 33.33%;
    width: 100%;
    padding: 16px;
    text-align: center;
    align-items: center;
}

.service-icon
{
    color: #0097e6;
    font-size: 2rem;
    border: 1px solid #0097e6;
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.service-icon:hover
{
    color: #fff;;
    background-color: #0097e6;
    animation: pop 0.3s linear 1;
    animation-duration: .4s;
}

.service-content h3
{
    color: #0097e6;
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    margin: 14px 0;
}